<h1>Currency Form</h1>
<form [formGroup]="currencyForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <ha-currency-input class="col-md-3" formControlName="convertFrom" [label]="'Convert From'"></ha-currency-input>
  </div>
  <div class="row">
    <ha-currency-input class="col-md-3" formControlName="convertTo" [label]="'Convert To'"></ha-currency-input>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!currencyForm.valid">Submit</button>

  <div class="card">
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item">{{ currencyForm.value | json }}</li>
      </ul>
    </div>
  </div>
</form>
