<nav>
  <a routerLink="">Home</a> | <a routerLink="/products">Product List</a> | <a routerLink="/categories">Categories</a> |
  <a routerLink="/cart-page"> <fa-icon [icon]="shoppingCart"></fa-icon> Cart </a> |
  <a routerLink="currency-form">Currency Form</a> | <a routerLink="admin">Admin</a> |
  <a *ngIf="!authenticationService.currentUserValue" routerLink="login">Login</a> |
  <button
    *ngIf="authenticationService.currentUserValue"
    (click)="authenticationService.logout()"
    class="btn btn-primary"
  >
    Logout
  </button>
</nav>
