<div class="row justify-content-md-center mt-md-5 mt-sm-1">
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h1 data-test-header>Login</h1>

        <form>
          <div class="form-group">
            <label for="username">Username</label>
            <input id="username" type="text" class="form-control" data-test-username/>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" class="form-control" data-test-password/>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
