<div class="row justify-content-md-center mt-md-5 mt-sm-1">
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h1 data-test-header>Login</h1>

        <form
          *ngIf="!authenticationService.currentUserValue"
          [formGroup]="loginForm"
          (ngSubmit)="submitLogin()"
          novalidate
        >
          <div class="form-group">
            <label for="username">Username</label>
            <input
              id="username"
              type="text"
              class="form-control"
              [ngClass]="username.touched ? (username.valid ? 'is-valid' : 'is-invalid') : ''"
              formControlName="username"
              data-test-username
              required
            />
            <div *ngIf="username.touched && username.invalid" class="invalid-feedback">
              Please enter your username
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              id="password"
              type="password"
              class="form-control"
              [ngClass]="password.touched ? (password.valid ? 'is-valid' : 'is-invalid') : ''"
              formControlName="password"
              data-test-password
              required
            />
            <div *ngIf="password.touched && password.invalid" class="invalid-feedback">
              Please enter your password
            </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
        </form>

        <div *ngIf="authenticationService.currentUserValue">
          <p>Logged in as {{ username.value }}</p>
          <button class="btn btn-warning" (click)="authenticationService.logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>
